<div class="main-container">
  <div class="header">
    <h3>Employee Management</h3>
  </div>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar">
            <a routerLink="home">Home</a>
            <a routerLink="employee-list">Employee List</a>
            <a routerLink="add-employee">Add Employee</a>
            <a routerLink="aboutus">About Us</a>
          </div>
        </div>
        <div class="col-md-8"><router-outlet></router-outlet></div>
      </div>
    </div>
  </div>
</div>
